*.log
.DS_Store
node_modules
dist

/Hospital/.vs/
/Hospital/IntegrationAPI/bin
/Hospital/IntegrationAPI/obj
/Hospital/IntegrationLibrary/bin
/Hospital/IntegrationLibrary/obj
/Hospital/IntegrationAppTest/obj
/Hospital/IntegrationAppTest/bin
