*.log
.DS_Store
node_modules
dist

.vs/
Hospital/IntegrationAPI/bin
Hospital/IntegrationAPI/obj
Hospital/Integration library/bin
Hospital/Integration library/obj
Hospital/UnitTest/obj
Hospital/UnitTest/bin
Hospital/IntegrationTest/obj
Hospital/IntegrationTest/bin